/*

  BACKGROUND

  Base:
    bg = background

  Modifiers:
    (none): center
    t = top
    r = right
    b = bottom
    l = left
    cover: cover
    contain: contain

*/

@use './mixins';

.bg, .bg-t, .bg-tr, .bg-rt, .bg-tl, .bg-lt, .bg-r, .bg-l, .bg-br, .bg-rb, .bg-b, .bg-bl, .bg-lb, .bg-cover, .bg-contain {
  @include mixins.bg-no-repeat();
}

.bg {
  @include mixins.bg-position('50%', '50%');
}

.bg-t {
  @include mixins.bg-position('50%', 0);
}

.bg-tr, .bg-rt {
  @include mixins.bg-position('100%', 0);
}

.bg-tl, .bg-lt {
  @include mixins.bg-position(0, 0);
}

.bg-r {
  @include mixins.bg-position('100%', '50%');
}

.bg-l {
  @include mixins.bg-position(0, '50%');
}

.bg-br, .bg-rb {
  @include mixins.bg-position('100%', '100%');
}

.bg-b {
  @include mixins.bg-position('50%', '100%');
}

.bg-bl, .bg-lb {
  @include mixins.bg-position(0, '100%');
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}
