// Project configuration
//
// Here you can override any default configuration value.

$spacer-base: 4px;

$breakpoints: (
  xs: 0,
  lg: 100
);

$enable-feature-transform: (
  flip: true
);

$enable-feature-animate: (
  attention-seeker: true
);
