/*
  DEBUG CHILDREN
  Docs: http://tachyons.io/docs/debug/
  Just add the debug class to any element to see outlines on its children.
*/

.debug * {
  outline: 1px solid #ffd700 !important;
}

.debug-light * {
  outline: 1px solid #fff !important;
}

.debug-dark * {
  outline: 1px solid #000 !important;
}
