/*

  PADDING, MARGIN

  Base:
    p = padding
    m = margin

  Modifiers:
    (none) = all
    t = top
    r = right
    b = bottom
    l = left
    x = horizontal (right and left)
    y = vertical (top and bottom)

*/

@use './variables';
@use './utilities';
@use './mixins';

$spacer: variables.$spacer;
$spacers: variables.$spacers;
$negative-spacers: if(variables.$enable-negative-margins, utilities.negativify-map($spacers), null);
$breakpoints: map-keys(variables.$breakpoints);

@each $name in $breakpoints {

  @include mixins.media-breakpoint-up($name) {

    $infix: mixins.breakpoint-infix($name);

    @each $n, $size in $spacers {

      // Paddings.

      .p#{$infix}-#{$n}, .py#{$infix}-#{$n}, .pt#{$infix}-#{$n} {
        padding-top: #{$size};
      }

      .p#{$infix}-#{$n}, .px#{$infix}-#{$n}, .pr#{$infix}-#{$n} {
        padding-right: #{$size};
      }

      .p#{$infix}-#{$n}, .py#{$infix}-#{$n}, .pb#{$infix}-#{$n} {
        padding-bottom: #{$size};
      }

      .p#{$infix}-#{$n}, .px#{$infix}-#{$n}, .pl#{$infix}-#{$n} {
        padding-left: #{$size};
      }

      // Margins.

      .m#{$infix}-#{$n}, .my#{$infix}-#{$n}, .mt#{$infix}-#{$n} {
        margin-top: #{$size};
      }

      .m#{$infix}-#{$n}, .mx#{$infix}-#{$n}, .mr#{$infix}-#{$n} {
        margin-right: #{$size};
      }

      .m#{$infix}-#{$n}, .my#{$infix}-#{$n}, .mb#{$infix}-#{$n} {
        margin-bottom: #{$size};
      }

      .m#{$infix}-#{$n}, .mx#{$infix}-#{$n}, .ml#{$infix}-#{$n} {
        margin-left: #{$size};
      }

    }

    // Negative margins.

    @if $negative-spacers {

      @each $n, $size in $negative-spacers {

        .m#{$infix}-#{$n}, .my#{$infix}-#{$n}, .mt#{$infix}-#{$n} {
          margin-top: #{$size};
        }

        .m#{$infix}-#{$n}, .mx#{$infix}-#{$n}, .mr#{$infix}-#{$n} {
          margin-right: #{$size};
        }

        .m#{$infix}-#{$n}, .my#{$infix}-#{$n}, .mb#{$infix}-#{$n} {
          margin-bottom: #{$size};
        }

        .m#{$infix}-#{$n}, .mx#{$infix}-#{$n}, .ml#{$infix}-#{$n} {
          margin-left: #{$size};
        }

      }

    }

    // Horizontal margin `auto`.

    .mr#{$infix}-auto {
      margin-right: auto;
    }

    .ml#{$infix}-auto {
      margin-left: auto;
    }

    .mx#{$infix}-auto {
      margin-right: auto;
      margin-left: auto;
    }

  }

}
