@use './variables';
@use './helpers';
@use './mixins';

$cw-rotations: variables.$rotations;
$ccw-rotations: if(variables.$enable-ccw-rotation, helpers.negativify-map($cw-rotations), null);

// Undo all transformations.
.transform-none {
  transform: none;
  -webkit-transform: none;
}

// Clockwise rotations.

@each $key, $angle in $cw-rotations {

  .turn-#{$key} {
    @include mixins.rotate($angle);
  }

}

// Counter-clockwise rotations.

@if $ccw-rotation-angles {

  @each $key, $angle in $ccw-rotations {

    .turn-#{$key} {
      @include mixins.rotate($angle);
    }

  }

}

// Flip.

.flip-x {
  @include mixins.center-origin();
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.flip-y {
  @include mixins.center-origin();
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
}

.flip {
  @include mixins.center-origin();
  transform: scaleX(-1) scaleY(-1);
  -webkit-transform: scaleX(-1) scaleY(-1);
}
