// Animation fill mode none.
@mixin animate-mode-none() {
  animation-fill-mode: none;
}

// Animation fill mode backwards.
@mixin animate-mode-backwards() {
  animation-fill-mode: backwards;
}

// Animation fill mode forwards.
@mixin animate-mode-forwards() {
  animation-fill-mode: forwards;
}

// Animation fill mode both.
@mixin animate-mode-both() {
  animation-fill-mode: both;
}

// Animation duration.
@mixin animate-duration($duration) {
  animation-duration: $duration;
}

// Animation iteration.
@mixin animate-repeat($count: null) {
  $repeat: if(type-of($count)=='number' and $count>0, $count, 'infinite');
  animation-iteration-count: $repeat;
}

// Animation delay.
@mixin animate-delay($delay) {
  animation-delay: $delay;
}

// Animation running.
@mixin animate-play() {
  animation-play-state: running;
}

// Animation paused.
@mixin animate-pause() {
  animation-play-state: paused;
}

// Animation normal direction.
@mixin animate-normal() {
  animation-direction: normal;
}

// Animation reverse direction.
@mixin animate-reverse() {
  animation-direction: reverse;
}

// Animation alternate direction.
@mixin animate-alternate() {
  animation-direction: alternate;
}

// Animation reverse alternate direction.
@mixin animate-alternate-reverse() {
  animation-direction: alternate-reverse;
}

// Animation keyframes.
@mixin animate-keyframes($name) {

}
