// Border radius.
@mixin border-radius($radius) {
  border-radius: $radius;
}

// Border top start radius.
@mixin border-top-start-radius($radius) {
  border-top-left-radius: $radius;
}

// Border top end radius.
@mixin border-top-end-radius($radius) {
  border-top-right-radius: $radius;
}

// Border bottom end radius.
@mixin border-bottom-end-radius($radius) {
  border-bottom-right-radius: $radius;
}

// Border bottom start radius.
@mixin border-bottom-start-radius($radius) {
  border-bottom-left-radius: $radius;
}

// Border top radius (right and left).
@mixin border-top-radius($radius) {
  @include border-top-start-radius($radius);
  @include border-top-end-radius($radius);
}

// Border end radius (top and bottom).
@mixin border-end-radius($radius) {
  @include border-top-end-radius($radius);
  @include border-bottom-end-radius($radius);
}

// Border bottom radius (right and left).
@mixin border-bottom-radius($radius) {
  @include border-bottom-end-radius($radius);
  @include border-bottom-start-radius($radius);
}

// Border start radius (top and bottom).
@mixin border-start-radius($radius) {
  @include border-top-start-radius($radius);
  @include border-bottom-start-radius($radius);
}
