// Breakpoint viewport sizes and media queries.
//
// Breakpoints are defined as a map of (name: min-width), order from small to large.
// The map defined in the `variables.$breakpoints` is used as the `$breakpoints` argument by default.

@use '../config';

// Name of the next breakpoint, or null for the last breakpoint.
@function breakpoint-next($name, $breakpoints: config.$breakpoints) {
  $breakpoint-names: map-keys($breakpoints);
  $n: index($breakpoint-names, $name);
  @if not $n {
    @error 'Breakpoint `#{$name}` not found in `#{$breakpoint-names}`.';
  }
  @return if($n<length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Minimum breakpoint width.
@function breakpoint-min($name, $breakpoints: config.$breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min!=0, $min, null);
}

// Maximum breakpoint width.
// The maximum value is reduced by 0.02px to work around the limitations of
// `min-` and `max-` prefixes and viewports with fractional widths.
// See https://www.w3.org/TR/mediaqueries-4/#mq-min-max
// Uses 0.02px rather than 0.01px to work around a current rounding bug in Safari.
// See https://bugs.webkit.org/show_bug.cgi?id=178261
@function breakpoint-max($name, $breakpoints: config.$breakpoints) {
  $max: map-get($breakpoints, $name);
  @return if($max and $max>0, $max - .02, null);
}

// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash in front.
// Useful for making responsive utilities.
@function breakpoint-infix($name, $breakpoints: config.$breakpoints) {
  @return if(breakpoint-min($name, $breakpoints)==null, '', '-#{$name}');
}

// Media query of at least the minimum breakpoint width. No media query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: config.$breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: #{$min}) {
      @content;
    }
  }
  @else {
    @content;
  }

}

// Media query of at most the maximum breakpoint width. No media query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: config.$breakpoints) {
  $max: breakpoint-max($name, $breakpoints);

  @if $max {
    @media (max-width: #{$max}) {
      @content;
    }
  }
  @else {
    @content;
  }

}

// Media query between the breakpoint's minimum and maximum widths.
// No minimum for the smallest breakpoint and no maximum for the largest one.
// Makes the @content apply only to the given breakpoint only, not viewports any wider or narrower.
@mixin media-breakpoint-only($name, $breakpoints: config.$breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $next: breakpoint-next($name, $breakpoints);
  $max: breakpoint-max($next);

  @if $min==null {
    @include media-breakpoint-down($next, $breakpoints) {
      @content;
    }
  }
  @else if $max==null {
    @include media-breakpoint-up($name, $breakpoints) {
      @content;
    }
  }
  @else {
    @media (min-width: #{$min}) and (max-width: #{$max}) {
      @content;
    }
  }
}

// Media query that spans multiple breakpoint widths.
// Makes the @content apply between the lower and upper breakpoints.
@mixin media-breakpoint-between($lower, $upper, $breakpoints: config.$breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min==null {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
  @else if $max==null {
    @include media-breakpoint-up($lower, $breakpoints) {
      @content;
    }
  }
  @else {
    @media (min-width: #{$min}) and (max-width: #{$max}) {
      @content;
    }
  }
}
