@use 'sass:list';

// Returns a string representing the aspect ratio with a dash in front.

@function aspect-ratio-suffix($ratio) {
  $width: list.nth($ratio, 1);
  $height: list.nth($ratio, 2);
  @return '-#{$width}x#{$height}';
}

// Set padding-bottom for the given aspect ratio.

@mixin embed-aspect-ratio($ratio) {
  $width: list.nth($ratio, 1);
  $height: list.nth($ratio, 2);
  padding-bottom: $height / $width * 100%;
}
