// Flex layout column.

@mixin flex-col() {
  width: 100%;
  display: flex !important;
  box-sizing: border-box !important;
  flex-direction: column;
  flex-wrap: wrap;
}

// Flex layout column reverse.

@mixin flex-col-reverse() {
  width: 100%;
  display: flex !important;
  box-sizing: border-box !important;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

// Flex layout row.

@mixin flex-row() {
  width: 100%;
  display: flex !important;
  box-sizing: border-box !important;
  flex-direction: row;
  flex-wrap: wrap;
}

// Flex layout row reverse.

@mixin flex-row-reverse() {
  width: 100%;
  display: flex !important;
  box-sizing: border-box !important;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

// Flexbox auto.
// 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893

@mixin flex-auto() {
  min-width: 0; // 1
  min-height: 0; // 1
  flex: 1 0 auto !important;
}

// Flex fill container.
// Set a container tall as the remaining space with display: flex.

@mixin flex-container() {
  @include flex-auto();
  display: flex !important;
  flex-flow: column nowrap !important;
  align-self: stretch !important;
}
