// Float none.
@mixin float-none() {
  float: none !important;
}

// Float start.
@mixin float-start() {
  float: left !important;
}

// Float end.
@mixin float-end() {
  float: right !important;
}

// Clear floats inside a parent.
@mixin clearfix() {

  &::after {
    display: block;
    clear: both;
    content: "";
  }

}
