// Base properties for icons based either on font or SVG.

@mixin base() {
  text-rendering: optimizeLegibility; // Font.
  -webkit-font-smoothing: antialiased; // Font.
  -moz-osx-font-smoothing: grayscale; // Font.
  display: inline-block;
  position: relative;
  overflow: hidden; // SVG.
  fill: currentColor; // SVG.
}

// Icon size.

@mixin size($size) {
  font-size: $size; // Font.
  line-height: $size; // Font.
  width: $size; // Font, SVG.
  height: $size; // Font, SVG.
}
