// Every icon based either on fonts or SVGs.
@mixin icon-base() {
  text-rendering: optimizeLegibility; // Font.
  -webkit-font-smoothing: antialiased; // Font.
  -moz-osx-font-smoothing: grayscale; // Font.
  display: inline-block;
  position: relative;
  overflow: hidden; // SVG.
  fill: currentColor; // SVG.
  stroke: currentColor; // SVG.
}

// Icon size.
@mixin icon-size($size) {
  font-size: $size; // Font.
  line-height: $size; // Font.
  width: $size; // Font, SVG.
  height: $size; // Font, SVG.
}
