// Padding.
@mixin padding($size) {
  padding: $size;
}

// Padding top.
@mixin padding-top($size) {
  padding-top: $size;
}

// Padding end.
@mixin padding-end($size) {
  padding-right: $size;
}

// Padding bottom.
@mixin padding-bottom($size) {
  padding-bottom: $size;
}

// Padding start.
@mixin padding-start($size) {
  padding-left: $size;
}

// Horizontal padding.
@mixin padding-horizontal($size) {
  @include padding-end($size);
  @include padding-start($size);
}

// Vertical padding.
@mixin padding-vertical($size) {
  @include padding-top($size);
  @include padding-bottom($size);
}

// Margin.
@mixin margin($size) {
  margin: $size;
}

// Margin top.
@mixin margin-top($size) {
  margin-top: $size;
}

// Margin end.
@mixin margin-end($size) {
  margin-right: $size;
}

// Margin bottom.
@mixin margin-bottom($size) {
  margin-bottom: $size;
}

// Margin start.
@mixin margin-start($size) {
  margin-left: $size;
}

// Horizontal margin.
@mixin margin-horizontal($size) {
  @include margin-end($size);
  @include margin-start($size);
}

// Vertical margin.
@mixin margin-vertical($size) {
  @include margin-top($size);
  @include margin-bottom($size);
}
