@use '../../../../utils/config';

@if config.feature-enabled('animate/rotate') {

  @keyframes animate-rotate-out-down-start {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: rotate3d(0, 0, 1, 45deg);
    }

  }

  .animate-rotate-out-down-start {
    transform-origin: 0 100%;
    animation-name: animate-rotate-out-down-start;
  }

}
