@use '../../../../utils/config';

@if config.feature-enabled('animate/rotate') {

  @keyframes animate-rotate-in-down-end {

    from {
      opacity: 0;
      transform: rotate3d(0, 0, 1, 45deg);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

  }

  .animate-rotate-in-down-end {
    transform-origin: 100% 100%;
    animation-name: animate-rotate-in-down-end;
  }

}
