@use '../../config';

@if config.$enable-animate {

  @keyframes flash {

    from, 50%, to {
      opacity: 1;
    }

    25%, 75% {
      opacity: 0;
    }

  }

  .a-flash {
    animation-name: flash;
  }

}
