// Animations
//
// Define settings for animations.

// Default animation duration.
$animate-duration: 1s;

// Modifiers for animation duration.
$animate-durations: (
  faster: $animate-duration * .5,
  fast: $animate-duration * .8,
  slow: $animate-duration * 2,
  slower: $animate-duration * 3
);

// Default animation delay.
$animate-delay: 1s;

// Default animation repeat count.
$animate-repeat: 1;
