// Default configuration.
//
// You can override any configuration value in /_config-custom.scss file.

// Modules
//
// Include only enabled modules to the build.

$modules: (
  reset: false,
  animate: (
    attention-seeker: false,
    back: false,
    bounce: false,
    fade: false,
    flip: false,
    rotate: false,
    slide: false,
    special: false,
    speed: false,
    zoom: false
  ),
  embed: false,
  icon: false,
  transform: (
    flip: false,
    rotate: false
  )
);

// Options
//
// Quick enable option for the build.

$enable-smooth-scroll: true;
$enable-negative-margins: true;
$enable-reverse-aspect-ratios: true;
$enable-reverse-rotation: true;

// General
//
// General settings.

$font-size-root: null;
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$box-sizing: 'border-box';

// Reset
//
// Set styles for the reset module.

$font-size-base: 1rem;
$font-family-base: $font-family-sans-serif;
$font-weight-base: 400;
$line-height-base: 1.5;

// Body
//
// Styles `body` element.

$body-font-color: #212529;
$body-text-align: null;
$body-bg-color: #fff;


$headings-margin-bottom: .5rem;
$paragraph-margin-bottom: 1rem;

// Breakpoints
//
// Breakpoints minimum widths for responsive media queries.

$breakpoints: (
  xs: 0, // Must be 0.
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
);

// Sizing
//
// Predefined standard box sizes.

$sizings: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

// Z-index
//
// Controls z-index settings.

// Gap between two consecutive generated z-index classes.
$z-index-gap: 100;

// Z-index for sticky positioned elements.
$z-index-sticky: 99999;

// Z-index for fixed positioned elements.
$z-index-fixed: 999999;

// Icons
//
// Settings for SVG and font icons.

// Default (base) icon size.
$icon-size: 1rem;

// Icons predefined sizes.
$icon-sizes: (
  1: $icon-size * 1.5,
  2: $icon-size * 2,
  3: $icon-size * 3,
  4: $icon-size * 4,
  5: $icon-size * 5,
  6: $icon-size * 6
);

// Embedding
//
// Available aspect ratios (width, height).

$embed-aspect-ratios: (
  (1, 1),
  (4, 3),
  (6, 4),
  (7, 5),
  (8, 5),
  (16, 9),
  (21, 9)
);

// Animations
//
// Define settings for animations.

// Default animation duration.
$animate-duration: 1s;

// Modifiers for animation duration.
$animate-durations: (
  faster: $animate-duration * .5,
  fast: $animate-duration * .8,
  slow: $animate-duration * 2,
  slower: $animate-duration * 3
);

// Default animation delay.
$animate-delay: 1s;

// Default animation repeat count.
$animate-repeat: 1;

// Transformations
//
// Settings for transformations.

// Angle for rotate() transformation. Must be set in degrees.
$transform-rotate-angle: 45deg;

// Debug
//
// Define variables used by debug utilities.
// This module always generate two separate files: `debug.css` and `debug-utilities.css`.
// These files are only intended for developing and should be manually included.

// Set outline color for debugging HTML children.
$debug-children-color: #ffd700;

// Map a different color for each HTML element.
$debug-html-colors: (
  body: #2980b9,
  article: #3498db,
  nav: #0088c3,
  aside: #33a0ce,
  section: #66b8da,
  header: #99cfe7,
  footer: #cce7f3,
  h1: #162544,
  h2: #314e6e,
  h3: #3e5e85,
  h4: #449baf,
  h5: #c7d1cb,
  h6: #4371d0,
  main: #2f4f90,
  address: #1a2c51,
  div: #036cdb,
  p: #ac050b,
  hr: #ff063f,
  pre: #850440,
  blockquote: #f1b8e7,
  ol: #ff050c,
  ul: #d90416,
  li: #d90416,
  dl: #fd3427,
  dt: #ff0043,
  dd: #e80174,
  figure: #f0b,
  figcaption: #bf0032,
  table: #0c9,
  caption: #37ffc4,
  thead: #98daca,
  tbody: #64a7a0,
  tfoot: #22746b,
  tr: #86c0b2,
  th: #a1e7d6,
  td: #3f5a54,
  col: #6c9a8f,
  colgroup: #6c9a9d,
  button: #da8301,
  datalist: #c06000,
  fieldset: #d95100,
  form: #d23600,
  input: #fca600,
  keygen: #b31e00,
  label: #ee8900,
  legend: #de6d00,
  meter: #e8630c,
  optgroup: #b33600,
  option: #ff8a00,
  output: #ff9619,
  progress: #e57c00,
  select: #e26e0f,
  textarea: #cc5400,
  details: #33848f,
  summary: #60a1a6,
  command: #438da1,
  menu: #449da6,
  del: #bf0000,
  ins: #400000,
  img: #22746b,
  iframe: #64a7a0,
  embed : #98daca,
  object: #0c9,
  param: #37ffc4,
  video: #6ee866,
  audio: #027353,
  source: #012426,
  canvas: #a2f570,
  track: #59a600,
  map: #7be500,
  area: #305900,
  a: #ff62ab,
  em: #800b41,
  strong: #ff1583,
  i: #803156,
  b: #cc1169,
  u: #ff0430,
  s: #f805e3,
  small: #d107b2,
  abbr: #4a0263,
  q: #240018,
  cite: #64003c,
  dfn: #b4005a,
  sub: #dba0c8,
  sup: #cc0256,
  time: #d6606d,
  code: #e04251,
  kbd: #5e001f,
  samp: #9c0033,
  var: #d90047,
  mark: #ff0053,
  bdi: #bf3668,
  bdo: #6f1400,
  ruby: #ff7b93,
  rt: #ff2f54,
  rp: #803e49,
  span: #cc2643,
  br: #db687d,
  wbr: #db175b
);
