html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.toolbar {
  background: #aaa;
  height: 64px;
  min-height: 64px;
}

.fx-container {
  background: #ff0;
}

.avatar {
  background: #09c;
  width: 100px;
  height: 60px;
}

.box {
  text-align: center;
  background: #0f0;
}

.flex-container {
  background: #093;
  height: 340px;
}

.flexbox {
  color: #fff;
  text-align: center;
  background: #069;
  outline: 1px solid #f00;
}

.fix {
  background: #f00;
  width: 50px;
}
