$enable-feature-animate: (
  attention-seeker: false,
  back: false,
  bounce: false,
  fade: false,
  flip: false,
  rotate: false,
  slide: false,
  special: false,
  speed: false,
  zoom: false
);

$animate-duration-base: 1s;

$animate-durations: (
  faster: $animate-duration-base * .5,
  fast: $animate-duration-base * .8,
  slow: $animate-duration-base * 2,
  slower: $animate-duration-base * 3
);

$animate-delays: (
  1: 1s,
  2: 2s,
  3: 3s
);

$animate-repeats: (
  2: 2,
  3: 3
);
