@use '../../../helpers';

@if helpers.module-enabled('animate', 'speed') {

  @keyframes speed-out-start {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) skewX(-30deg);
    }

  }

  .a-speed-out-start {
    animation-name: speed-out-start;
    animation-timing-function: ease-in;
  }

}
