@use '../../../helpers';

@if helpers.module-enabled('animate/speed') {

  @keyframes animate-speed-in-start {

    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) skewX(30deg);
    }

    60% {
      opacity: 1;
      transform: skewX(-20deg);
    }

    80% {
      transform: skewX(5deg);
    }

    to {
      transform: translate3d(0, 0, 0);
    }

  }

  .animate-speed-in-start {
    animation-name: animate-speed-in-start;
    animation-timing-function: ease-out;
  }

}
