@use '../../../../utils/config';

@if config.feature-enabled('animate/fade') {

  @keyframes animate-fade-out-bottom-end {

    from {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    to {
      opacity: 0;
      transform: translate3d(100%, 100%, 0);
    }

  }

  .animate-fade-out-bottom-end {
    animation-name: animate-fade-out-bottom-end;
  }

}
