@use '../../../../utils/config';

@if config.feature-enabled('animate/fade') {

  @keyframes animate-fade-out-down-big {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }

  }

  .animate-fade-out-down-big {
    animation-name: animate-fade-out-down-big;
  }

}
