/*

  BACKGROUND

  Base:
    bg = background

  Modifiers:
    (none): center
    t = top
    e = end (right: ltr, left: rtl)
    b = bottom
    s = start (left: ltr, right: rtl)
    cover: cover
    contain: contain

*/

@use '../mixins';

.bg {
  @include mixins.bg-no-repeat();
  @include mixins.bg-position(50%, 50%);
}

.bg-t {
  @include mixins.bg-no-repeat();
  @include mixins.bg-position(50%, 0);
}

.bg-te, .bg-et {
  @include mixins.bg-no-repeat();
  @include mixins.bg-position(100%, 0);
}

.bg-ts, .bg-st {
  @include mixins.bg-no-repeat();
  @include mixins.bg-position(0, 0);
}

.bg-e {
  @include mixins.bg-no-repeat();
  @include mixins.bg-position(100%, 50%);
}

.bg-s {
  @include mixins.bg-no-repeat();
  @include mixins.bg-position(0, 50%);
}

.bg-be, .bg-eb {
  @include mixins.bg-no-repeat();
  @include mixins.bg-position(100%, 100%);
}

.bg-b {
  @include mixins.bg-no-repeat();
  @include mixins.bg-position(50%, 100%);
}

.bg-bs, .bg-sb {
  @include mixins.bg-no-repeat();
  @include mixins.bg-position(0, 100%);
}

.bg-cover {
  @include mixins.bg-no-repeat();
  background-size: cover;
}

.bg-contain {
  @include mixins.bg-no-repeat();
  background-size: contain;
}
