/*

  BORDER RADIUS

  Base:
    br = border-radius

  Modifiers:
    (none) = all
    t = top
    e = end (right: ltr, left: rtl)
    b = bottom
    s = start (left: ltr, right: rtl)

*/

@use '../config';
@use '../mixins';

@if config.$enable-border-radius {

  @each $n, $radius in config.$border-radiuses {

    .br-#{$n} {
      @include mixins.border-radius($radius);
    }

    .br-ts-#{$n}, .br-st-#{$n} {
      @include mixins.border-top-start-radius($radius);
    }

    .br-te-#{$n}, .br-et-#{$n} {
      @include mixins.border-top-end-radius($radius);
    }

    .br-be-#{$n}, .br-eb-#{$n} {
      @include mixins.border-bottom-end-radius($radius);
    }

    .br-bs-#{$n}, .br-sb-#{$n} {
      @include mixins.border-bottom-start-radius($radius);
    }

    .br-t-#{$n} {
      @include mixins.border-top-radius($radius);
    }

    .br-e-#{$n} {
      @include mixins.border-end-radius($radius);
    }

    .br-b-#{$n} {
      @include mixins.border-bottom-radius($radius);
    }

    .br-s-#{$n} {
      @include mixins.border-start-radius($radius);
    }

  }

}

// Box with predefined rounded corners.
.rounded {
  border-radius: #{config.$border-radius-rounded};
}

// Circular box.
.circle {
  border-radius: 50%;
}

// Make a box like a pill.
.pill {
  border-radius: 9999px;
}
