/*

  BORDER RADIUS

  Base:
    br = border-radius

  Modifiers:
    (none) = all
    t = top
    r = right
    b = bottom
    l = left

*/

@use '../config';
@use '../mixins';

@each $n, $radius in config.$border-radiuses {

  .br-#{$n} {
    @include mixins.border-radius($radius);
  }

  .br-tl-#{$n}, .br-lt-#{$n} {
    @include mixins.border-top-left-radius($radius);
  }

  .br-tr-#{$n}, .br-rt-#{$n} {
    @include mixins.border-top-right-radius($radius);
  }

  .br-br-#{$n}, .br-rb-#{$n} {
    @include mixins.border-bottom-right-radius($radius);
  }

  .br-bl-#{$n}, .br-lb-#{$n} {
    @include mixins.border-bottom-left-radius($radius);
  }

  .br-t-#{$n} {
    @include mixins.border-top-radius($radius);
  }

  .br-r-#{$n} {
    @include mixins.border-right-radius($radius);
  }

  .br-b-#{$n} {
    @include mixins.border-bottom-radius($radius);
  }

  .br-l-#{$n} {
    @include mixins.border-left-radius($radius);
  }

}

// Box with predefined rounded corners.
.rounded {
  border-radius: #{config.$border-radius-rounded};
}

// Circular box.
.circle {
  border-radius: 50%;
}

// Make a box like a pill.
.pill {
  border-radius: 9999px;
}
