/*

  DISPLAY

  Base:
    d = display

*/

@use '../mixins';

$displays: (
  none: 'none',
  inline-block: 'inline-block',
  block: 'block',
  flex: 'flex',
  inline-flex: 'inline-flex',
  table: 'table',
  table-row-group: 'table-row-group',
  table-row: 'table-row',
  table-col-group: 'table-column-group',
  table-col: 'table-column',
  table-cell: 'table-cell'
);
