/*

  DISPLAY

  Base:
    d = display

*/

@use '../helpers';
@use '../mixins';

$displays: (
  n: 'none',
  block: 'block',
  inline: 'inline',
  inline-block: 'inline-block',
  flex: 'flex',
  inline-flex: 'inline-flex',
  table: 'table',
  table-row-g: 'table-row-group',
  table-row: 'table-row',
  table-col-g: 'table-column-group',
  table-col: 'table-column',
  table-cell: 'table-cell'
);

$breakpoints: map-keys(helpers.get-config('breakpoints'));

@each $name in $breakpoints {

  @include mixins.media-breakpoint-up($name) {

    $infix: mixins.breakpoint-infix($name);

    @each $key, $display in $displays {

      .d#{$infix}-#{$key} {
        display: #{$display} !important;
      }

    }

    .d#{$infix}-table-full {
      @include mixins.display-table-full();
    }

  }

}

@each $key, $display in $displays {

  @media print {

    .d-print-#{$key} {
      display: #{$display} !important;
    }

  }

}
