/*

  Flexbox

*/

@use '../helpers';
@use '../mixins';

.fx-container {
  @include mixins.flex-container();
}

$_cells: helpers.get-config('grid-columns');
$_gutter: helpers.get-config('grid-gutter');

$_breakpoints: map-keys(helpers.get-config('breakpoints'));

@each $name in $_breakpoints {

  @include mixins.media-breakpoint-up($name) {

    $infix: mixins.breakpoint-infix($name);

    // Flex layout

    .fx#{$infix}-col {
      @include mixins.flex-col();
    }

    .fx#{$infix}-col-reverse {
      @include mixins.flex-col-reverse();
    }

    .fx#{$infix}-row {
      @include mixins.flex-row();
    }

    .fx#{$infix}-row-reverse {
      @include mixins.flex-row-reverse();
    }

    // Flex wrap

    .fx#{$infix}-wrap {
      flex-wrap: wrap;
    }

    .fx#{$infix}-wrap-reverse {
      flex-wrap: wrap-reverse;
    }

    .fx#{$infix}-nowrap {
      flex-wrap: nowrap;
    }

    // Main axis alignment

    .fx#{$infix}-m-none {
      justify-content: none;
    }

    .fx#{$infix}-m-start {
      justify-content: flex-start;
    }

    .fx#{$infix}-m-center {
      justify-content: center;
    }

    .fx#{$infix}-m-end {
      justify-content: flex-end;
    }

    .fx#{$infix}-m-between {
      justify-content: space-between;
    }

    .fx#{$infix}-m-around  {
      justify-content: space-around;
    }

    .fx#{$infix}-m-evenly  {
      justify-content: space-evenly;
    }

    // Cross axis alignment

    .fx#{$infix}-c-none {
      align-items: none;
    }

    .fx#{$infix}-c-start {
      align-items: flex-start;
    }

    .fx#{$infix}-c-center {
      align-items: center;
    }

    .fx#{$infix}-c-end {
      align-items: flex-end;
    }

    .fx#{$infix}-c-baseline {
      align-items: baseline;
    }

    .fx#{$infix}-c-stretch {
      align-items: stretch;
    }

    // Flexbox auto

    .fx#{$infix}-flex {
      @include mixins.flex-auto();
    }

    @for $n from 1 through $_cells {

      $width: $n / $_cells * 100%;

      // Flexbox cells

      .fx#{$infix}-flex-#{$n} {
        flex: 0 0 $width;
      }

      // Flexbox cells offset

      .fx#{$infix}-offset-e-#{$n} {
        margin-right: $width;
      }

      .fx#{$infix}-offset-s-#{$n} {
        margin-left: $width;
      }

      // Flexbox cells order

      .fx#{$infix}-order-#{$n} {
        order: $n;
      }

    }

    // Flexbox self alignment

    .fx#{$infix}-self-none {
      align-self: none;
    }

    .fx#{$infix}-self-start {
      align-self: flex-start;
    }

    .fx#{$infix}-self-center {
      align-self: center;
    }

    .fx#{$infix}-self-end {
      align-self: flex-end;
    }

    .fx#{$infix}-self-baseline {
      align-self: baseline;
    }

    .fx#{$infix}-self-stretch {
      align-self: stretch;
    }

    // Flexbox content alignment

    .fx#{$infix}-content-start {
      align-content: flex-start;
    }

    .fx#{$infix}-content-end {
      align-content: flex-end;
    }

    .fx#{$infix}-content-center {
      align-content: center;
    }

    .fx#{$infix}-flex-content-between {
      align-content: space-between;
    }

    .fx#{$infix}-content-around {
      align-content: space-around;
    }

    .fx#{$infix}-content-stretch {
      align-content: stretch;
    }

    // Flexbox gutter



  }

}
