/*

  Font weight

  Base:
    fw = font-weight

  Modifiers:
    lighter = 100
    normal = 400
    bold = 700
    bolder = 900
    1 = 100
    2 = 200
    3 = 300
    4 = 400
    5 = 500
    6 = 600
    7 = 700
    8 = 800
    9 = 900

*/

$font-weights: (
  lighter: 1,
  normal: 4,
  bold: 7,
  bolder: 9
);

@each $key, $n in $font-weights {

  .fw-#{$key} {
    font-weight: #{$n * 100};
  }

}

@for $n from 1 through 9 {

  .fw-#{$n} {
    font-weight: #{$n * 100};
  }

}
