@use '../config';
@use '../mixins';

$breakpoints: map-keys(config.$breakpoints);

@each $name in $breakpoints {

  @include mixins.media-breakpoint-up($name) {

    $infix: mixins.breakpoint-infix($name);

    // Layout.

    .fx#{$infix}-row {
      @include mixins.fx-row();
    }

    .fx#{$infix}-row-rev {
      @include mixins.fx-row-reverse();
    }

    .fx#{$infix}-col {
      @include mixins.fx-col();
    }

    .fx#{$infix}-col-rev {
      @include mixins.fx-col-reverse();
    }

    // Main axis alignment.

    .fx#{$infix}-main-none {
      @include mixins.fx-main-none();
    }

    .fx#{$infix}-main-start {
      @include mixins.fx-main-start();
    }

    .fx#{$infix}-main-center {
      @include mixins.fx-main-center();
    }

    .fx#{$infix}-main-end {
      @include mixins.fx-main-end();
    }

    .fx#{$infix}-main-between {
      @include mixins.fx-main-between();
    }

    .fx#{$infix}-main-around {
      @include mixins.fx-main-around();
    }

    .fx#{$infix}-main-evenly {
      @include mixins.fx-main-evenly();
    }

    // Cross axis alignment.

    .fx#{$infix}-cross-none {
      @include mixins.fx-cross-none();
    }

    .fx#{$infix}-cross-start {
      @include mixins.fx-cross-start();
    }

    .fx#{$infix}-cross-center {
      @include mixins.fx-cross-center();
    }

    .fx#{$infix}-cross-end {
      @include mixins.fx-cross-end();
    }

    .fx#{$infix}-cross-baseline {
      @include mixins.fx-cross-baseline();
    }

    .fx#{$infix}-cross-stretch {
      @include mixins.fx-cross-stretch();
    }

    .fx#{$infix}-flex-auto {
      margin: #{config.$grid-gutter / 2};
      @include mixins.fx-flex-auto();
    }

    @each $key, $size in config.$grid-columns {

      .fx#{$infix}-flex-#{$key} {
        margin: #{config.$grid-gutter / 2};
        @include mixins.fx-flex($size, config.$grid-gutter);
      }

    }

  }

}





.no-gutter > * {
  margin: 0;
}
