/*
 * This is for responsive scalable icons based either on fonts or SVGs.
 * Set `icon` on the element and extend it with the desired breakpoints and icon sizes.
 *
 * Examples:
 *
 * <span class="my-icon-class icon icon-4 icon-sm-2"></span>
 *
 * <svg class="icon icon-4 icon-sm-2">...</svg>
 *
 */

@use '../config';
@use '../mixins';

@if config.$enable-icons {

  .icon {
    @include mixins.icon-base();
  }

  $icon-sizes: config.$icon-sizes;
  $breakpoints: map-keys(config.$breakpoints);

  @each $name in $breakpoints {

    @include mixins.media-breakpoint-up($name) {

      $infix: mixins.breakpoint-infix($name);

      @each $key, $size in $icon-sizes {

        .icon#{$infix}-#{$key} {
          @include mixins.icon-size($size);
        }

      }

    }

  }

}
