/*

  POINTER EVENTS

  Base:
    pe = pointer-events

*/

@each $event in (auto, none, inherit, initial, unset) {

  .pe-#{$event} {
    pointer-events: #{$event};
  }

}

// SVG only events.
@each $event in (visiblePainted, visibleFill, visibleStroke, visible, painted, fill, stroke, all) {

  .pe-#{$event} {
    pointer-events: #{$event};
  }

}
