/*

  SIZING

  Base:
    w = width
    h = height
    v = viewport

  Modifiers:
    min = minimum
    max = maximum

*/

@use "../config";

@each $key, $size in config.$sizings {

  .w-#{$key} {
    width: $size;
  }

  .h-#{$key} {
    height: $size;
  }

}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.w-max-100 {
  max-width: 100%;
}

.h-max-100 {
  max-height: 100%;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}

.vw-min-100 {
  min-width: 100vw;
}

.vh-min-100 {
  min-height: 100vh;
}
