/*

  PADDING, MARGIN

  Base:
    p = padding
    m = margin

  Modifiers:
    (none) = all
    t = top
    e = end (right: ltr, left: rtl)
    b = bottom
    s = start (left: ltr, right: rtl)
    x = horizontal (right and left)
    y = vertical (top and bottom)

*/

@use 'sass:map';
@use '../helpers';
@use '../mixins';

$_breakpoints: map.keys(helpers.get-config('breakpoints'));
$_spacers: helpers.get-config('spacers');

@each $name in $_breakpoints {

  @include mixins.media-breakpoint-up($name) {

    $infix: mixins.breakpoint-infix($name);

    @each $key, $space in $_spacers {

      // Paddings.

      .p#{$infix}-#{$key} {
        padding: $space;
      }

      .pt#{$infix}-#{$key} {
        padding-top: $space;
      }

      .pe#{$infix}-#{$key} {
        padding-right: $space;
      }

      .pb#{$infix}-#{$key} {
        padding-bottom: $space;
      }

      .ps#{$infix}-#{$key} {
        padding-left: $space;
      }

      .px#{$infix}-#{$key} {
        @include mixins.padding-x($space);
      }

      .py#{$infix}-#{$key} {
        @include mixins.padding-y($space);
      }

      // Margins.

      .m#{$infix}-#{$key} {
        margin: $space;
      }

      .mt#{$infix}-#{$key} {
        margin-top: $space;
      }

      .me#{$infix}-#{$key} {
        margin-right: $space;
      }

      .mb#{$infix}-#{$key} {
        margin-bottom: $space;
      }

      .ms#{$infix}-#{$key} {
        margin-left: $space;
      }

      .mx#{$infix}-#{$key} {
        @include mixins.margin-x($space);
      }

      .my#{$infix}-#{$key} {
        @include mixins.margin-y($space);
      }

    }

    // Negative margins.

    @if helpers.get-config('enable-negative-margins') {

      @each $key, $space in $_spacers {

        .m#{$infix}--#{$key} {
          margin: -$space;
        }

        .mt#{$infix}--#{$key} {
          margin-top: -$space;
        }

        .me#{$infix}--#{$key} {
          margin-right: -$space;
        }

        .mb#{$infix}--#{$key} {
          margin-bottom: -$space;
        }

        .ms#{$infix}--#{$key} {
          margin-left: -$space;
        }

        .mx#{$infix}--#{$key} {
          @include mixins.margin-x(-$space);
        }

        .my#{$infix}--#{$key} {
          @include mixins.margin-y(-$space);
        }

      }

    }

    // Horizontal margin `auto`.

    .me#{$infix}-auto {
      margin-right: auto;
    }

    .ms#{$infix}-auto {
      margin-left: auto;
    }

    .mx#{$infix}-auto {
      @include mixins.margin-x-auto();
    }

  }

}
