/*

  PADDING, MARGIN

  Base:
    p = padding
    m = margin

  Modifiers:
    (none) = all
    t = top
    e = end (right: ltr, left: rtl)
    b = bottom
    s = start (left: ltr, right: rtl)
    x = horizontal (right and left)
    y = vertical (top and bottom)

*/

@use '../config';
@use '../mixins';

$breakpoints: map-keys(config.$breakpoints);

@each $name in $breakpoints {

  @include mixins.media-breakpoint-up($name) {

    $infix: mixins.breakpoint-infix($name);

    @for $n from 1 to 5 {

      // Paddings.

      .p#{$infix}-#{$n} {
        padding: calc(var(--spacer) * #{$n});
      }

      .pt#{$infix}-#{$n} {
        padding-top: calc(var(--spacer) * #{$n});
      }

      .pe#{$infix}-#{$n} {
        padding-right: calc(var(--spacer) * #{$n});
      }

      .pb#{$infix}-#{$n} {
        padding-bottom: calc(var(--spacer) * #{$n});
      }

      .ps#{$infix}-#{$n} {
        padding-left: calc(var(--spacer) * #{$n});
      }

      .px#{$infix}-#{$n} {
        padding-right: calc(var(--spacer) * #{$n});
        padding-left: calc(var(--spacer) * #{$n});
      }

      .py#{$infix}-#{$n} {
        padding-top: calc(var(--spacer) * #{$n});
        padding-bottom: calc(var(--spacer) * #{$n});
      }

      // Margins.

      .m#{$infix}-#{$n} {
        margin: calc(var(--spacer) * #{$n});
      }

      .mt#{$infix}-#{$n} {
        margin-top: calc(var(--spacer) * #{$n});
      }

      .me#{$infix}-#{$n} {
        margin-right: calc(var(--spacer) * #{$n});
      }

      .mb#{$infix}-#{$n} {
        margin-bottom: calc(var(--spacer) * #{$n});
      }

      .ms#{$infix}-#{$n} {
        margin-left: calc(var(--spacer) * #{$n});
      }

      .mx#{$infix}-#{$n} {
        margin-right: calc(var(--spacer) * #{$n});
        margin-left: calc(var(--spacer) * #{$n});
      }

      .my#{$infix}-#{$n} {
        margin-top: calc(var(--spacer) * #{$n});
        margin-bottom: calc(var(--spacer) * #{$n});
      }

    }

    // Negative margins.

    @if config.$enable-negative-margins {

      @for $n from 1 to 5 {

        .m#{$infix}--#{$n} {
          margin: calc(var(--spacer) * -#{$n});
        }

        .mt#{$infix}--#{$n} {
          margin-top: calc(var(--spacer) * -#{$n});
        }

        .me#{$infix}--#{$n} {
          margin-right: calc(var(--spacer) * -#{$n});
        }

        .mb#{$infix}--#{$n} {
          margin-bottom: calc(var(--spacer) * -#{$n});
        }

        .ms#{$infix}--#{$n} {
          margin-left: calc(var(--spacer) * -#{$n});
        }

        .mx#{$infix}--#{$n} {
          margin-right: calc(var(--spacer) * -#{$n});
          margin-left: calc(var(--spacer) * -#{$n});
        }

        .my#{$infix}--#{$n} {
          margin-top: calc(var(--spacer) * -#{$n});
          margin-bottom: calc(var(--spacer) * -#{$n});
        }

      }

    }

    // Horizontal margin `auto`.

    .me#{$infix}-auto {
      margin-right: auto;
    }

    .ms#{$infix}-auto {
      margin-left: auto;
    }

    .mx#{$infix}-auto {
      margin-right: auto;
      margin-left: auto;
    }

  }

}
