/*

  TEXT ALIGN

  Base:
    ta = text-align

  Modifiers:
    s = start (left: ltr, right: rtl)
    c = center
    e = end (right: ltr, left: rtl)
    j = justify

*/

$alignments: (
  s: 'left',
  c: 'center',
  e: 'right',
  j: 'justify'
);

@each $key, $align in $alignments {

  .ta-#{$key} {
    text-align: #{$align};
  }

}
