/*

  Text transform

  Base:
    tt = text-transform

  Modifiers:
    n = none
    l = lowercase
    u = uppercase
    c = capitalize
    w = full-width
    k = full-size-kana

*/

$text-transforms: (
  n: 'none',
  l: 'lowercase',
  u: 'uppercase',
  c: 'capitalize',
  w: 'full-width',
  k: 'full-size-kana'
);

@each $key, $transform in $text-transforms {

  .tt-#{$key} {
    text-transform: #{$transform};
  }

}
