/*

  TEXT TRANSFORM

  Base:
    tt = text-transform

  Modifiers:
    none = none
    l = lowercase
    u = uppercase
    c = capitalize
    w = full-width
    k = full-size-kana

*/

$text-transform: (
  none: 'none',
  l: 'lowercase',
  u: 'uppercase',
  c: 'capitalize',
  w: 'full-width',
  k: 'full-size-kana'
);

@each $key, $transform in $text-transform {

  .tt-#{$key} {
    text-transform: #{$transform};
  }

}
