/*

  Text align

  Base:
    ta = text-align

  Modifiers:
    s = start (ltr: left, rtl: right)
    c = center
    e = end (ltr: right, rtl: left)
    j = justify

*/

$alignments: (
  s: 'left',
  c: 'center',
  e: 'right',
  j: 'justify'
);

@each $key, $align in $alignments {

  .ta-#{$key} {
    text-align: #{$align};
  }

}
