@use '../config';
@use '../helpers';

// Undo all transformations.
.transform-none {
  -webkit-transform: none;
  transform: none;
}

@if config.$enable-transform {

  $step: helpers.strip-unit(config.$rotation-angle);

  // Rotations.

  $n: 0;
  @while $n<=360 {

    .rotate-#{$n} {
      transform-origin: 50%;
      -webkit-transform: rotate(calc(var(--rotation-angle) * #{$n}));
      transform: rotate(calc(var(--rotation-angle) * #{$n}));
    }

    $n: $n + $step;

  }

  // Reverse rotations.

  @if config.$enable-reverse-rotation {

    $n: $step;
    @while $n<=360 {

      .rotate--#{$n} {
        transform-origin: 50%;
        -webkit-transform: rotate(calc(var(--rotation-angle) * -#{$n}));
        transform: rotate(calc(var(--rotation-angle) * -#{$n}));
      }

      $n: $n + $step;

    }

  }

  // Flip.

  .flip-x {
    transform-origin: 50%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .flip-y {
    transform-origin: 50%;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }

  .flip {
    transform-origin: 50%;
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
  }

}
