@use '../config';
@use '../helpers';
@use '../mixins';

$cw-rotations: config.$rotations;
$ccw-rotations: if(config.$enable-ccw-rotation, helpers.negativify-map($cw-rotations), null);

// Undo all transformations.
.transform-none {
  -webkit-transform: none;
  transform: none;
}

// Clockwise rotations.

@each $key, $angle in $cw-rotations {

  .turn-#{$key} {
    @include mixins.rotate($angle);
  }

}

// Counter-clockwise rotations.

@if $ccw-rotations {

  @each $key, $angle in $ccw-rotations {

    .turn-#{$key} {
      @include mixins.rotate($angle);
    }

  }

}

// Flip.

.flip-x {
  @include mixins.center-origin();
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-y {
  @include mixins.center-origin();
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.flip {
  @include mixins.center-origin();
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
}
