@use '../config';
@use '../helpers';
@use '../mixins';

// Undo all transformations.
.transform-none {
  -webkit-transform: none;
  transform: none;
}

@if config.$enable-transformations {

  $rotations: config.$rotations;
  $counter-rotations: if(config.$enable-counter-rotation, helpers.negativify-map($rotations), null);

  // Rotations.

  @each $key, $angle in $rotations {

    .turn-#{$key} {
      @include mixins.rotate($angle);
    }

  }

  // Counter rotations.

  @if $counter-rotations {

    @each $key, $angle in $counter-rotations {

      .turn-#{$key} {
        @include mixins.rotate($angle);
      }

    }

  }

  // Flip.

  .flip-x {
    @include mixins.center-origin();
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .flip-y {
    @include mixins.center-origin();
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }

  .flip {
    @include mixins.center-origin();
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
  }

}
