/*

  Z-INDEX

  Base:
    z = z-index

  Modifiers:
    n = z-index-spacer * n
    max = largest accepted z-index value as integer
    inherit = string value inherit
    initial = string value initial
    unset = string value unset

*/

@for $n from -1 to 10 {

  .z-#{$n} {
    z-index: calc(var(--z-index-step) * #{$n});
  }

}

.z-max {
  z-index: 2147483647;
}

.z-inherit {
  z-index: inherit;
}

.z-initial {
  z-index: initial;
}

.z-unset {
  z-index: unset;
}
