@use '../../../../config';

@if config.$enable-animate {

  @keyframes back-in-start {

    0% {
      opacity: .7;
      transform: translateX(-2000px) scale(.7);
    }

    80% {
      opacity: .7;
      transform: translateX(0) scale(.7);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }

  }

  .a-back-in-start {
    animation-name: back-in-start;
  }

}
