@use '../../../helpers';

@if helpers.module-enabled('animate', 'slide') {

  @keyframes slide-out-up {

    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      visibility: hidden;
      transform: translate3d(0, -100%, 0);
    }

  }

  .a-slide-out-up {
    animation-name: slide-out-up;
  }

}
