@use '../../../helpers';

@if helpers.module-enabled('animate', 'slide') {

  @keyframes animate-slide-in-down {

    from {
      visibility: visible;
      transform: translate3d(0, -100%, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
    }

  }

  .animate-slide-in-down {
    animation-name: animate-slide-in-down;
  }

}
