@use '../../../helpers';

@if helpers.module-enabled('animate', 'attention-seeker') {

  @keyframes flash {

    from, 50%, to {
      opacity: 1;
    }

    25%, 75% {
      opacity: 0;
    }

  }

  .a-flash {
    animation-name: flash;
  }

}
