@use '../../../../config';

@if config.$enable-animate {

  @keyframes fade-out-end-big {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }

  }

  .a-fade-out-end-big {
    animation-name: fade-out-end-big;
  }

}
