@use '../../../../config';

@if config.$enable-animate {

  @keyframes fade-out-up {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

  }

  .a-fade-out-up {
    animation-name: fade-out-up;
  }

}
