@use '../../../../config';

@if config.$enable-animate {

  @keyframes bounce-out-down {

    20% {
      transform: translate3d(0, 10px, 0) scaleY(.985);
    }

    40%, 45% {
      opacity: 1;
      transform: translate3d(0, -20px, 0) scaleY(.9);
    }

    to {
      opacity: 0;
      transform: translate3d(0, 2000px, 0) scaleY(3);
    }

  }

  .a-bounce-out-down {
    animation-name: bounce-out-down;
  }

}
