@use '../../config';

@if config.$enable-animate {

  @keyframes rotate-out-up-start {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: rotate3d(0, 0, 1, -45deg);
    }

  }

  .a-rotate-out-up-start {
    transform-origin: 0 0;
    animation-name: rotate-out-up-start;
  }

}
