@use '../../../../utils/config';

@if config.feature-enabled('animate/back') {

  @keyframes animate-back-in-end {

    0% {
      opacity: .7;
      transform: translateX(2000px) scale(.7);
    }

    80% {
      opacity: .7;
      transform: translateX(0) scale(.7);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }

  }

  .animate-back-in-end {
    animation-name: animate-back-in-end;
  }

}
