@use '../../../helpers';

@if helpers.module-enabled('animate/bounce') {

  @keyframes animate-bounce-in-down {

    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0) scaleY(3);
    }

    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0) scaleY(.9);
    }

    75% {
      transform: translate3d(0, -10px, 0) scaleY(.95);
    }

    90% {
      transform: translate3d(0, 5px, 0) scaleY(.985);
    }

    to {
      transform: translate3d(0, 0, 0);
    }

  }

  .animate-bounce-in-down {
    animation-name: animate-bounce-dn-down;
  }

}
