@use '../../../helpers';

@if helpers.module-enabled('animate', 'bounce') {

  @keyframes animate-bounce-out-end {

    20% {
      opacity: 1;
      transform: translate3d(-20px, 0, 0) scaleX(.9);
    }

    to {
      opacity: 0;
      transform: translate3d(2000px, 0, 0) scaleX(2);
    }

  }

  .animate-bounce-out-end {
    animation-name: animate-bounce-out-end;
  }

}
