// Remove the unit of a length.
@function strip-unit($number) {
  @if type-of($number)=='number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

// Turn any value in the given map to negative.
@function negativify-map($map) {
  $negative-map: ();
  @each $key, $value in $map {
    @if $value!=0 {
      $negative-map: map-merge($negative-map, ($key: $value * -1));
    }
  }
  @return $negative-map;
}

// Reverse values in any 2-values list in the given map.
@function reverse-lists($list) {
  $reversed-lists: ();
  @each $value in $list {
    $value1: nth($value, 1);
    $value2: nth($value, 2);
    @if $value1!=$value2 {
      $reversed-lists: append($reversed-lists, ($value2, $value1));
    }
  }
  @return $reversed-lists;
}
