@function negativify-map($map) {
  $negative-map: ();
  @each $key, $value in $map {
    @if $key!=0 and $value!=0 {
      $negative-map: map-merge($negative-map, ($key * -1: $value * -1));
    }
  }
  @return $negative-map;
}

@function reverse-lists($list) {
  $reversed-lists: ();
  @each $value in $list {
    $value1: nth($value, 1);
    $value2: nth($value, 2);
    @if $value1!=$value2 {
      $reversed-lists: append($reversed-lists, ($value2, $value1));
    }
  }
  @return $reversed-lists;
}
