// LTR
//
// Rules that disallow RTL language for some elements.

// A few elements should stay LTR.
// See https://rtlcss.com/learn/usage-guide/control-directives/#ignore
pre,
.pre,
code,
.code,
kbd,
samp {
  /*rtl:begin:ignore*/
  direction: ltr;
  text-align: left;
  /*rtl:end:ignore*/
  unicode-bidi: bidi-override;
}

// A few input types should stay LTR.
// See https://rtlstyling.com/posts/rtl-styling#form-inputs
// RTL only output
// See https://rtlcss.com/learn/usage-guide/control-directives/#raw

/*rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
