@use '../../../helpers';

@if helpers.module-enabled('animate', 'fade') {

  @keyframes animate-fade-out-down {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

  }

  .animate-fade-out-down {
    animation-name: animate-fade-out-down;
  }

}
