@use '../../../helpers';

@if helpers.module-enabled('animate', 'fade') {

  @keyframes fade-out-start-big {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(-2000px, 0, 0);
    }

  }

  .a-fade-out-start-big {
    animation-name: fade-out-start-big;
  }

}
