@use '../../../helpers';

@if helpers.module-enabled('animate', 'fade') {

  @keyframes animate-fade-in-down {

    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

  }

  .animate-fade-in-down {
    animation-name: animate-fade-in-down;
  }

}
