@use '../../../helpers';

@if helpers.module-enabled('animate/fade') {

  @keyframes animate-fade-out {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }

  }

  .animate-fade-out {
    animation-name: animate-fade-out;
  }

}
