@use '../../config';

@if config.$enable-animate {

  @keyframes back-out-end {

    0% {
      opacity: 1;
      transform: scale(1);
    }

    20% {
      opacity: .7;
      transform: translateX(0) scale(.7);
    }

    100% {
      opacity: .7;
      transform: translateX(2000px) scale(.7);
    }

  }

  .a-back-out-end {
    animation-name: back-out-end;
  }

}
