@use '../../../../config';

@if config.$enable-animate {

  @keyframes fade-in-top-end {

    from {
      opacity: 0;
      transform: translate3d(100%, -100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

  }

  .a-fade-in-top-end {
    animation-name: fade-in-top-end;
  }

}
