@use '../../config';

@if config.$enable-animate {

  @keyframes zoom-out {

    from {
      opacity: 1;
    }

    50% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }

    to {
      opacity: 0;
    }

  }

  .a-zoom-out {
    animation-name: zoom-out;
  }

}
