@use '../../mixins/typography';

// Measure is limited to ~66 characters.

.measure {
  max-width: 30em;
}

// Measure is limited to ~45 characters.

.measure-narrow {
  max-width: 20em;
}

// Measure is limited to ~80 characters.

.measure-wide {
  max-width: 42em;
}

// Book paragraph style. Paragraphs are indented with no vertical spacing.

.indent {
  @include typography.indent();
}

// All small caps.

.small-caps {
  font-variant: small-caps;
}

// Use zeros with a slash through them to differentiate from "O".

.nice-zero {
  font-feature-settings: 'zero' 1;
}

// Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element).

.truncate {
  @include typography.text-truncate();
}

// Optimize text and font icons readability.

.readable {
  @include typography.readability();
}
