$enable-smooth-scroll: true;

$box-sizing: 'content-box';

$spacer-base: 1rem;

$spacers: (
  1: $spacer-base / 4,
  2: $spacer-base / 2,
  3: $spacer-base,
  4: $spacer-base * 2,
  5: $spacer-base * 3
);

$enable-negative-margins: true;

$grid-columns: 12;

$grid-gutter: 1rem;

$breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
);

$z-index-base: 100;

$z-indexes: (
  1: $z-index-base,
  2: $z-index-base * 2,
  3: $z-index-base * 3,
  4: $z-index-base * 4,
  5: $z-index-base * 5,
  6: $z-index-base * 6,
  7: $z-index-base * 7,
  8: $z-index-base * 8,
  9: $z-index-base * 9,
  10: $z-index-base * 10
);

$z-index-sticky: 99999;

$z-index-fixed: 999999;
