/*

  Vertical align

  Base:
    va = vertical-align

  Modifiers:
    bl = baseline
    t = top
    m = middle
    b = bottom
    tt = text-top
    tb = text-bottom

*/

$_vertical-align: (
  bl: 'baseline',
  t: 'top',
  m: 'middle',
  b: 'bottom',
  tt: 'text-top',
  tb: 'text-bottom'
);

@each $key, $value in $_vertical-align {

  .va-#{$key} {
    vertical-align: #{$value} !important;
  }

}
