@use '../../../helpers';

@if helpers.module-enabled('animate/zoom') {

  @keyframes animate-zoom-out-start {

    40% {
      opacity: 1;
      transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
    }

    to {
      opacity: 0;
      transform: scale(.1) translate3d(-2000px, 0, 0);
    }

  }

  .animate-zoom-out-start {
    transform-origin: 0 50%;
    animation-name: animate-zoom-out-start;
  }

}
