@use '../../../helpers';

@if helpers.module-enabled('animate', 'rotate') {

  @keyframes rotate-in {

    from {
      opacity: 0;
      transform: rotate3d(0, 0, 1, -200deg);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

  }

  .a-rotate-in {
    transform-origin: 50%;
    animation-name: rotate-in;
  }

}
