@use '../../../helpers';

@if helpers.module-enabled('animate', 'rotate') {

  @keyframes animate-rotate-out {

    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: rotate3d(0, 0, 1, 200deg);
    }

  }

  .animate-rotate-out {
    transform-origin: 50%;
    animation-name: animate-rotate-out;
  }

}
