@use '../../../helpers';

@if helpers.module-enabled('animate/back') {

  @keyframes animate-back-in-start {

    0% {
      opacity: .7;
      transform: translateX(-2000px) scale(.7);
    }

    80% {
      opacity: .7;
      transform: translateX(0) scale(.7);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }

  }

  .animate-back-in-start {
    animation-name: animate-back-in-start;
  }

}
