@use '../../../helpers';

@if helpers.module-enabled('animate/back') {

  @keyframes animate-back-out-up {

    0% {
      opacity: 1;
      transform: scale(1);
    }

    20% {
      opacity: .7;
      transform: translateY(0) scale(.7);
    }

    100% {
      opacity: .7;
      transform: translateY(-700px) scale(.7);
    }

  }

  .animate-back-out-up {
    animation-name: animate-back-out-up;
  }

}
